.error-part{padding:100px 0px;background:var(--white)}.error{text-align:center}.error h1{font-size:220px;line-height:280px;color:var(--primary)}.error h2{margin-bottom:25px}@media (max-width: 767px){.error-part{padding:60px 0px}.error h1{font-size:160px;line-height:90px;letter-spacing:-5px;margin-bottom:45px}}@media (min-width: 768px) and (max-width: 991px){.error-part{padding:80px 0px}}
