.blog-details-part {
    padding: 50px 0px
}

.blog-details-title {
    margin-bottom: 20px
}

.blog-details-title h2 a {
    color: var(--heading)
}

.blog-details-meta {
    margin-bottom: 30px
}

.blog-details-meta li {
    display: inline-block;
    margin-right: 15px
}

.blog-details-meta li a {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 18px;
    color: var(--gray);
    border-radius: 8px;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.blog-details-meta li a:hover {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary)
}

.blog-details-meta li a:hover i,
.blog-details-meta li a:hover p {
    color: var(--white)
}

.blog-details-meta li a i {
    margin-right: 5px;
    color: var(--primary);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.blog-details-meta li a p {
    line-height: 14px;
    text-transform: capitalize;
    color: var(--primary);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.blog-details-meta li a p span {
    margin-left: 8px
}

.blog-details-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.25)
}

.blog-details-content {
    margin-bottom: 45px;
    padding: 50px 0px 50px;
    border-bottom: 1px solid var(--border)
}
.blog-details-content2 {
    margin-bottom: 45px;
    padding: 50px 0px 50px;
 
}
.blog-details-content p {
    font-size: 18px;
    line-height: 32px
}

.blog-details-content .description {
    margin-bottom: 35px
}

.blog-details-content2 p {
    font-size: 18px;
    line-height: 32px
}

.blog-details-content2 .description {
    margin-bottom: 35px
}
.blog-details-content .description p span {
    display: block;
    margin-top: 25px
}

.blog-details-content .sub-content {
    margin-bottom: 35px
}
.blog-details-content2 .sub-content {
    margin-bottom: 35px
}

.blog-details-content .sub-content h3 {
    font-size: 28px;
    margin-bottom: 15px
}
.blog-details-content2 .sub-content h3 {
    font-size: 28px;
    margin-bottom: 15px
}
.blog-details-content .sub-content p a {
    text-decoration: underline
}
.blog-details-content2 .sub-content p a {
    text-decoration: underline
}


.blog-details-content .quote-content {
    padding: 50px 50px;
    background: var(--chalk);
    border-left: 5px solid var(--primary);
    margin-bottom: 45px;
    border-radius: 10px;
    display: flex;
    flex-direction: column
}

.blog-details-content .quote-content p {
    font-size: 22px;
    font-style: italic;
    line-height: 35px;
    margin-bottom: 35px
}

.blog-details-content .quote-content h5 {
    font-weight: 700;
    align-self: flex-end;
    text-transform: capitalize
}

.blog-details-content .quote-content h5 a {
    color: var(--heading)
}

.blog-details-content .list-content {
    list-style: disc;
    margin-left: 20px
}

.blog-details-content .list-content li {
    margin-bottom: 30px
}

.blog-details-content .list-content li:last-child {
    margin-bottom: 0px
}

.blog-details-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 45px
}

.blog-details-widget .tag-list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start
}

.blog-details-widget .tag-list li {
    margin-right: 8px
}

.blog-details-widget .tag-list li h4 {
    margin-right: 5px
}

.blog-details-widget .tag-list li a {
    font-size: 14px;
    padding: 2px 16px;
    border-radius: 30px;
    color: var(--heading);
    text-transform: capitalize;
    border: 1px solid var(--border)
}

.blog-details-widget .tag-list li a:hover {
    color: var(--white);
    background: var(--primary)
}

.blog-details-widget .share-list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start
}

.blog-details-widget .share-list li {
    margin-right: 8px
}

.blog-details-widget .share-list li h4 {
    margin-right: 5px
}

.blog-details-widget .share-list li a i {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--chalk);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1)
}

.blog-details-widget .share-list li a i:hover {
    color: var(--white);
    background: var(--primary)
}

.blog-details-author {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 45px 45px;
    margin-bottom: 50px;
    border-radius: 8px;
    background: var(--chalk);
    border: 1px solid var(--border)
}

.blog-details-author .author-intro {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #dddddd
}

.blog-details-author .author-intro a img {
    width: 100px;
    border-radius: 8px;
    margin-bottom: 20px
}

.blog-details-author .author-intro h4 a {
    color: var(--heading)
}

.blog-details-author .author-intro p {
    line-height: 22px
}

.blog-details-author .author-intro p a {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.blog-details-author .author-intro p a:hover {
    color: var(--primary);
    text-decoration: underline
}

.blog-details-author .author-content ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px
}

.blog-details-author .author-content ul li {
    margin-right: 15px
}

.blog-details-author .author-content ul li a i {
    width: 36px;
    height: 36px;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--white);
    border: 1px solid var(--border);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1)
}

.blog-details-author .author-content ul li a i:hover {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary)
}

.blog-details-author .author-content p {
    line-height: 29px
}

.blog-card {
    margin-bottom: 30px
}

.blog-details-navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    margin-bottom: 45px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--chalk)
}

.blog-details-navigate a {
    width: 200px;
    margin: 0px 15px;
    padding: 12px 0px;
    color: var(--primary);
    background: var(--white);
    border-radius: 8px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.blog-details-navigate a:hover {
    color: var(--white);
    background: var(--primary)
}

.blog-details-navigate a span,
.blog-details-navigate a i {
    margin: 0px 5px
}

.blog-details-comment {
    margin-bottom: 30px
}

.comment-title {
    margin-bottom: 30px
}

.comment-title h3 {
    font-size: 28px
}

.comment-list li {
    padding: 30px 0px;
    border-top: 1px solid var(--border)
}

.comment-list li:last-child {
    border-bottom: 1px solid var(--border)
}

.comment-list li ul {
    margin-left: 125px;
    margin-top: 30px
}

.comment-list li ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none
}

.comment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

.comment-author {
    display: flex;
    flex-direction: column;
    margin-right: 25px
}

.comment-author a {
    margin-bottom: 15px
}

.comment-author a img {
    width: 100px;
    border-radius: 8px
}

.comment-author .btn {
    width: 100px;
    font-size: 12px;
    padding: 5px 0px;
    border-radius: 5px
}

.comment-author .btn span {
    margin-left: 3px
}

.comment-content h4 {
    margin-bottom: 10px
}

.comment-content h4 a {
    color: var(--heading)
}

.comment-content h4 span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    line-height: 22px
}

.blog-details-form .form-title {
    margin-bottom: 30px
}

.blog-details-form .form-title h3 {
    font-size: 28px
}

@media (max-width: 767px) {
    .blog-details-part {
        padding: 60px 0px
    }

    .blog-details-meta li {
        margin: 5px
    }

    .blog-details-widget {
        flex-direction: column
    }

    .blog-details-widget .tag-list {
        margin-bottom: 30px
    }

    .blog-details-author {
        flex-direction: column;
        padding: 30px 30px
    }

    .blog-details-author .author-intro {
        padding-right: 0px;
        margin-right: 0px;
        border-right: none;
        margin-bottom: 15px
    }

    .blog-details-author .author-content ul li {
        margin-right: 8px
    }
}

@media (max-width: 575px) {
    .blog-details-title h2 {
        font-size: 22px;
        line-height: 32px
    }

    .blog-details-content {
        padding: 30px 0px
    }

    .blog-details-content .quote-content {
        padding: 30px 30px
    }

    .blog-details-navigate {
        flex-direction: column
    }

    .blog-details-navigate a {
        margin: 15px 0px
    }

    .comment-list li ul {
        margin-left: 80px
    }

    .comment {
        flex-direction: column
    }

    .comment-author {
        margin: 0px 0px 15px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blog-details-part {
        padding: 80px 0px
    }

    .blog-details-meta li {
        margin: 5px
    }
}