.provized_social_float {
		font-family: FontAwesome;
		position: fixed;
		top: 50%;
		left: -20px;
		line-height:40px;
		font-size: 20px;
		opacity: 1;
		
		margin-top: -175px;
		z-index: 2;
    }
	.provized_social_float:hover {
		left: -5px;
		opacity: 1;
		-webkit-animation: linear social_float_on .3s;
	}
	@-webkit-keyframes social_float_on{
		0% {left: -25px;opacity: .5;}
		100% {left: -5px;opacity: 1;}
	}
	@-webkit-keyframes social_float_off{
		0% {left: -5px;opacity: 1;}
		100% {left: -25px;opacity: .5;}
	}
	a.provized_social_icon {
		position: relative;
		padding: 5px 8px 5px 15px;
		color: white;
		background-color:rgba(66,66,66,.5);
		border-radius: 5px;
		margin: 5px 0;
		display:list-item;
		opacity: .8;
		width: 50px;
		text-align: center;
		-webkit-animation: linear social_icon_off .3s;
		text-shadow: 0px 0px 2px #fff;
    }
	a.provized_social_icon:hover {
		opacity: 1;
		text-shadow: 0px 0px 5px #fff;
		-webkit-animation: linear social_icon_on .3s;
	}
	@-webkit-keyframes social_icon_on {
		0% {opacity: .4}
		100% {opacity: 1}
	}
	@-webkit-keyframes social_icon_off {
		0% {opacity: 1}
		100% {opacity: .4}
	}