

#map-canvas {
    width:100%;
    height: 100vh;
	
    
}

#popimg {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    border-radius: 57%;
}
.map-part
{
	padding: 0px;
}